@model ManageYourSelfMVC.ViewModels.AccountViewModel
@{
    Layout = "~/Views/Shared/SahamMasterPage.cshtml";
}

<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>


    <br /><br /><br />
    <p style="font-family:'Morvarid';"><span>در صورتی که نام کاربری و پسورد ندارید ثبت نام نمایید</span> | 
    <span><button onclick="location.href='@Url.Action("Register", "Register")'" class="button button5">ثبت نام</button>

        </span></p>
    <hr />

        <table cellpadding="2" , cellspacing="2">
            <tr>
                <td>نام کاربری</td>
                <td><input type='text' name='SUserName' /></td>
            </tr>
            <tr>
                <td>پسورد</td>
                <td><input type='password' name='SPassword'/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input class="btn btn-success" type="button" onclick="SaveAthentication()" value="Login"></td>
            </tr>
        </table>
<script>
    function SaveAthentication() {
        var Username = $("table input[name='SUserName']").val();
        var Password = $("table input[name='SPassword']").val();
        //Fill Cookie
        setCookie("SUsername", Username, 30);
        setCookie("SPassword", Password, 30);
        window.location.replace("http://pushakshik.ir/Saham/MainSaham");

   
    }
</script>
   
   
