@{
    ViewBag.Title = "Sport";
    Layout = "~/Views/Shared/_LayoutBizPage.cshtml";
}
<style>
    .ListSportCatId table tr td {
        padding: 5px;
    }

    .tedad {
        cursor: pointer;
    }
</style>
<link href="~/Content/Bootstrap_v3.3.7.css" rel="stylesheet" />

<div class="MyDictionary">
    <ul class="nav nav-tabs" style="font-family:'Morvarid';">
        <li class="active"><a data-toggle="tab" href="#home">ورزش</a></li>
        <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
        <li><a href="/Client/ListNav">کاربری</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row" style="font-family:BNazanin">
                <div class="col-sm-12 ListSportChk"></div>
                <div class="col-sm-12 ListSportCatId"></div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>



    <!--************************************Dictionary*********************************************-->
    <!--Persian DatePicker-->
    <script>
        $(document).ready(function () {

            intervalSport();
            kamaDatepicker('PersianDatePicker', {
                nextButtonIcon: "timeir_next.png"
                   , previousButtonIcon: "timeir_prev.png"
                   , forceFarsiDigits: true
                   , markToday: true
                   , markHolidays: true
                   , highlightSelectedDay: true
                   , sync: true
            });
        });
    </script>
