@model List<ManageYourSelfMVC.ViewModels.PlayerScoreVM>
<div class="table-responsive" Name="CreatePlayer">
    <p>برای امتیاز عدد 1 تا 10 بدهید</p>
    <table class="table" style="direction:rtl; text-align: center;font-size:11px" nametbl="CreatePlayer">
        @foreach (var item in Model)
        {
            <tr PlayersId="@item.PlayerId" class="PlayerScore">
                <td>@item.PlayerName</td>
                <td>
                    <input type="number" min="1" max="10" name="Score" value="@item.Score" />
                </td>
            </tr>
        }
       <tr>
           <td colspan="2"><input type="button" name="btnSavePlayerScore" value="ثبت" class="btn btn-danger"/></td>
       </tr>
    </table>
</div>
