@model ManageYourSelfMVC.ViewModels.ListNavVM
@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/_LayoutBizPage.cshtml";
}
<p>@TempData["Error"]</p>
@*<link href="~/Content/Bootstrap_v3.3.7.css" rel="stylesheet" />
    <script src="~/Scripts/Bootstrap_v3.3.7.js"></script>*@
<style>
    .vl {
        border-left: 1px dotted black;
        height: 500px;
        left: 50%;
        margin-left: -3px;
        top: 0;
    }
</style>
<style>
    .btn-group-vertical button {
        white-space: pre-wrap;
        font-size: 8px;
    }

    #SumKarkard p {
        margin: 0px;
        padding: 0px
    }

    table#SumKarkard {
        font-size: 12px;
        text-align: center;
    }

    .ListTaskTiming table td {
        padding: 3px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

@*<div class="row" style="font-family:BNazanin"></div>
    <br />
    <p id="ShowMessage">@TempData["Message"]</p>
    <br />*@
<!--style="font-family:'B Morvarid';-->
<!-- Nav tabs -->
<div style="font-size: 12px;">
    <ul class="nav nav-tabs" role="tablist" style="font-family:'Morvarid';">

        <li class="nav-item">
            <a class="nav-link" href="/Dictionary/MainDictionary">MainDictionary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sport/MainSport">MainSport</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" onclick="GetBooks()" href="#Book">کتاب</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#MojoodyBank">موجودی</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">هزینه های مهم</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#StoreHoghogh">پرداختی</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">نمایش کارکرد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Category">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#TimeForJob" onclick="ListKarkardNew()">زمان فعالیت</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4">لیست وظایف</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menuTiming">زمان بندی</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menuTaskGeneral">وظایف کلی</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menuTaskFuture">وظایف سالانه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#RoutineJob">وظایف تکراری</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Setting">تنظیمات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Taradod">تردد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Rotbeh">رتبه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#MasterData">MasterData</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Sport">Sport</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Gold">Gold</a>
        </li>
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content" style="font-family:BNazanin" ng-app="angularApp">
    <!--موجودی-->
    <div id="MojoodyBank" class="tab-pane fade">
        <div class="row"><div class="col-sm-12 ListMojoodyBank"></div></div>
        <div class="row"><div class="col-sm-12 ListDaramad"></div></div>
        <div class="row"><div class="col-sm-12 ListTypeHazineh"></div></div>
        <div class="row"><div class="col-sm-12 Rpt_ListGroupHazine"></div></div>
    </div>
    <!--کتاب-->
    <div id="Book" class="tab-pane fade">
        <div class="row"><div class="col-sm-12 ListBook"></div></div>
    </div>
    <!--هزینه های مهم-->
    <div id="menu2" class="tab-pane fade">
        <br>
        <input type="button" name="CreateNewTypeHazineMohem" value="ایجاد نوع هزینه" class="btn btn-danger" />
        <span></span>
        <input type="button" name="CreateNewHazineMohem" value="هزینه جدید" class="btn btn-danger" />
        <span></span>
        <input type="button" name="ListHazineMohem" value="بروز آوری" class="btn btn-danger" />
        <br />
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <div class="row">
            <div class="col-sm-5 KharjType"></div>

            <div class="col-sm-7 HazineMohem"></div>
        </div>

        @*<div id="HazineMohem"></div>*@
    </div>
    <!--پرداختی-->
    <div id="StoreHoghogh" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-12 ListStoreHoghogh"></div>
        </div>
    </div>
    <!--نمایش کارکرد-->
    <div id="menu3" class="tab-pane fade">
        <br>
        <a href="/BaseData/BaseData"><span class="fa fa-arrow-right"></span></a>
    </div>
    <!--Category-->
    <div id="Category" class="tab-pane">
        <br>
        <input type="button" name="List" value="نمایش" class="btn btn-danger" />
        <br><br>
        <input class="form-control SearchInTable" type="text" placeholder="Search..">
        <br />
        <div class="row">
            <div class="col-sm-3 Category"></div>
            <div class="col-sm-6 Job"></div>
            <div class="col-sm-3 PercentJob">
                <input type="button" name="CreatePercentJob" onclick="CreatePercentJobGet()" value="جدید" class="btn btn-info" />
                <span></span>
                <input type="button" name="ListPercentJob" value="بروز آوری" class="btn btn-info" />
                <br>
            </div>
        </div>
        @*<button onclick="ReportCircle()">CreateReport</button>
            <button onclick="rpt2()">rpt2</button>
            <div class="row">


                    <div  class="col-sm-12">
                        <div  id="chartContainer" style="height: 300px; width: 100%;"></div>
                    </div>


                <div id="chartContainer" style="width:100%; height:300px;"></div>*@


        @*</div>*@
    </div>
    <!--زمان فعالیت-->
    <div id="TimeForJob" class="tab-pane">
        <br>
        <input type="button" name="List" value="نمایش" class="btn btn-danger" />
        <span></span>
        <input type="button" name="Create" value="جدید" class="btn btn-danger" />
        <span></span>
        <input type="button" name="UploadDataCard" value="آپلود دیتا" class="btn btn-light" />
        <br><br>
        <input class="form-control SearchInTable" type="text" placeholder="Search..">
        <br />
        @*<div class="row">*@
        @*<div class="col-sm-3 DivKarkard"></div>*@
        @*<div class="col-sm-9">*@
        <div class="row">
            <div class="col-sm-12 ShowKarkadPivot"></div>

        </div>

        <div class="row">
            <div class="col-sm-12 PercentJob table-responsive"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 sss table-responsive"></div>
        </div>
        <div class="row">
            <div class="col-sm-4  table-responsive">
                <div class="row">
                    <div class="col-sm-12 ReportsKarkard  table-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 SumKarkardUntilToToday  table-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 TopBestKarkard  table-responsive">
                    </div>
                </div>


            </div>
            <div class="col-sm-4  table-responsive">
                <div class="row">
                    <div class="col-sm-12 SumKarkardPerJob  table-responsive">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 ListDaysOfWeek  table-responsive">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 ListToCurrentTime  table-responsive">
                    </div>
                </div>

            </div>
            <div class="col-sm-4  table-responsive">
                <div class="row">
                    <div class="col-sm-12 SumMounthKarkardPerJob  table-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 ListSumDaysOfWeek  table-responsive">
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-12 DivKarkard"></div>
        </div>
        @*</div>*@
        @*</div>*@
    </div>
    <!--لیست وظایف-->
    <div id="menu4" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <td><input type="radio" name="task" value="anjamnashode"> انجام نشده<br></td>
                        <td><input type="radio" name="task" value="anjamshode" onclick="ShowStDateEndDate()"> انجام شده<br></td>
                        <td><input type="radio" name="task" value="gheirefal"> غیر فعال</td>
                    </tr>
                </table>
                <br />
                <input type="button" name="new" value="جدید" class="btn btn-danger CreateNewTask" /> |
                <input type="button" value="انتقال کار به امروز" class="btn btn-info" ng-controller="TaskControllerr" ng-click="TaskToday()" />
                <br />
                <br />

                <img id="ItemPreview" src="">
                <input id="fileInput" type="file" multiple>
                <input type="button" onclick="uploadImage()" value="Upload file" />

                <input type="button" onclick="Documentt(9)" value="show image" />


                <div class="row">
                    <div class="col-sm-12 ListTaskFutureChk" type="ListTask"></div>

                </div>

                <div class="row">
                    <div class="col-sm-12 ShowStDateEndDate"></div>

                </div>

            </div>
            <div class="col-md-6">

                <div>
                    <table>
                        <tr>
                            <td>تاریخ</td>
                            <td><input type="text" name="DateEnd" class="PersianDatePickerEditTaskS" autocomplete="off" onchange="ListTaskAnjamShode()" /></td>

                            <td><input placeholder="search" type="text" autocomplete="off" onkeyup="SearchTask(this)" /></td>
                        </tr>
                    </table>
                </div>
                <div class="ListTaskAnjamShode"></div>
                <div class="ListTaskTiming"></div>
            </div>
        </div>
        <div class="row">
            <div class="btn-group-vertical" style="left:10px;top: 210px;width: 41px;position: fixed;font-family:'B Nazanin';z-index:10;">
                <button type="button" class="btn btn-primary" onclick="transferDate('00')">شنبه هفته بعد</button>
                <button type="button" class="btn btn-info" onclick="transferDate('1')">انتقال به فردا</button>
                <button type="button" class="btn btn-danger" onclick="transferDate('0101')">یکم ماه بعد</button>
                <button type="button" class="btn btn-success" onclick="transferDate('30')">ماه بعد</button>
            </div>
            <div class="ShowSumRate" style="left:10px;bottom:0;width: 41px;position: fixed;font-family:'B Nazanin';z-index:25">

            </div>
            <div class="col-sm-12 ListTask"></div>
        </div>
    </div>
    <!--لیست زمان بندی-->
    <div id="menuTiming" class="tab-pane">
        <br />
        <input type="button" value="انتقال کار به امروز" class="btn btn-info" ng-controller="TaskControllerr" ng-click="TaskToday()" />
        <div class="row">
            <div>
                <span>کارهای فردا</span><input name="chkTomarrow" type="checkbox" value="1" />
            </div>
            <div class="col-sm-12 ListTiming">

            </div>
        </div>
    </div>
    <!--وظایف کلی-->
    <div id="menuTaskGeneral" class="tab-pane">
        <br />
        <div class="row">
            <div class="col-sm-12 ListTaskGeneral"></div>
        </div>
    </div>
    <!--وظایف سالانه-->
    <div id="menuTaskFuture" class="tab-pane">
        <br />
        <div class="row">
            <div class="col-sm-12 ListTaskFutureChk"></div>
            <div class="col-sm-12 ListTaskFuture"></div>
        </div>
    </div>
    <!-- وظایف تکراری-->
    <div id="RoutineJob" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-12 ListRoutineJobHa"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 ListRoutineJob"></div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="RoutineJobCreate"></div>
        </div>
    </div>
    <!--Setting-->
    <div id="Setting" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-3 Setting"></div>
            <div class="col-sm-3 ListHolyDay"></div>
        </div>
    </div>
    <!--تردد-->
    <div id="Taradod" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-5 ListRotbehByDate" style="font-size:12px;"></div>
            <div class="col-sm-7 ListTaradod"></div>
        </div>
        <div class="row" ng-controller="customersCtrl2">
            <div ng-include="'/PersonnelGsystem/ListTaradod_AngularView'" class="col-sm-12"></div>
        </div>
    </div>
    <!--رتبه-->
    <div id="Rotbeh" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-12 ListRotbeh"></div>
        </div>
    </div>
    <!--MasterData-->
    <div id="MasterData" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-12 ListMasterData"></div>
        </div>
    </div>
    <!--Sport-->
    <div id="Sport" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6 ShowPivotSportOrder"></div>
                    <div class="col-sm-6 ShowPivotSport"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 ShowPivotGroupingSets"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 ListSport"></div>
                </div>
            </div>
        </div>
        <div class="row">
            @*ShowPivotGroupingSets*@
            <div class="col-sm-12 ShowPivotGroupingSets"></div>
        </div>
    </div>
    <!--Gold-->
    <div id="Gold" class="tab-pane fade">
        <a target="_blank" href="http://estjt.ir">آدرس نمایش قیمت روز 1</a>
        <br>
        <a target="_blank" href="http://estjt.ir/price">آدرس نمایش قیمت روز 2</a>
        @*<div class="row">
                <div class="col-lg-12">
                    <iframe src="http://estjt.ir" style="width:100%"></iframe>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <iframe src="http://estjt.ir/price" style="width:100%"></iframe>
                </div>

            </div>*@
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-danger" onclick="transferGeramTala()">هر گرم طلا</button>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4 ListGold1" style="background-color:lightgreen">
                <table>
                    <tr>
                        <td><span>قیمت روز طلای  هر گرم 18 عیار</span></td>
                        <td><input type="number" name="currentPrice" value="427800" onkeyup="CalculatePriceGold1()" /></td>
                    </tr>
                    <tr>
                        <td><span>اجرت</span></td>
                        <td><input type="number" name="ojratPrice" value="25000" onkeyup="CalculatePriceGold1()" /></td>
                    </tr>
                    <tr>
                        <td><span>سود</span></td>
                        <td><input type="number" name="soodPrice" value="5" onkeyup="CalculatePriceGold1()" /></td>
                    </tr>
                    <tr>
                        <td><span>مالیات</span> </td>
                        <td><input type="number" name="maliatPrice" value="0" onkeyup="CalculatePriceGold1()" /></td>
                    </tr>
                    <tr>
                        <td><span>وزن طلا</span> </td>
                        <td><input type="text" name="vazn" value="2" onkeyup="CalculatePriceGold1()" /></td>
                    </tr>
                    <tr>
                        <td><span>قیمت</span> </td>
                        <td><input type="number" name="resultPrice" value="" style="background-color:red" /></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4 ListGold2" style="background-color:lightblue">
                <table>
                    <tr>
                        <td><span>قیمت روز طلای  هر گرم 18 عیار</span></td>
                        <td><input type="number" name="currentPrice" value="427800" onkeyup="CalculatePriceGold2()" /></td>
                    </tr>
                    <tr>
                        <td><span>اجرت</span></td>
                        <td><input type="number" name="ojratPrice" value="25000" onkeyup="CalculatePriceGold2()" /></td>
                    </tr>
                    <tr>
                        <td><span>سود</span></td>
                        <td><input type="number" name="soodPrice" value="7" onkeyup="CalculatePriceGold2()" /></td>
                    </tr>
                    <tr>
                        <td><span>مالیات</span> </td>
                        <td><input type="number" name="maliatPrice" value="0" onkeyup="CalculatePriceGold2()" /></td>
                    </tr>
                    <tr>
                        <td><span>وزن طلا</span> </td>
                        <td><input type="text" name="vazn" value="2" onkeyup="CalculatePriceGold2()" /></td>
                    </tr>
                    <tr>
                        <td><span>قیمت</span> </td>
                        <td><input type="number" name="resultPrice" value="" style="background-color:red" /></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4 ListGold3" style="background-color:lightcoral">
                <table>
                    <tr>
                        <td><span>قیمت روز طلای  هر گرم 18 عیار</span></td>
                        <td><input type="number" name="currentPrice" value="427800" onkeyup="CalculatePriceGold3()" /></td>
                    </tr>
                    <tr>
                        <td><span>اجرت</span></td>
                        <td><input type="number" name="ojratPrice" value="25000" onkeyup="CalculatePriceGold3()" /></td>
                    </tr>
                    <tr>
                        <td><span>سود</span></td>
                        <td><input type="number" name="soodPrice" value="7" onkeyup="CalculatePriceGold3()" /></td>
                    </tr>
                    <tr>
                        <td><span>مالیات</span> </td>
                        <td><input type="number" name="maliatPrice" value="9" onkeyup="CalculatePriceGold3()" /></td>
                    </tr>
                    <tr>
                        <td><span>وزن طلا</span> </td>
                        <td><input type="text" name="vazn" value="2" onkeyup="CalculatePriceGold3()" /></td>
                    </tr>
                    <tr>
                        <td><span>قیمت</span> </td>
                        <td><input type="number" name="resultPrice" value="" style="background-color:red" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




<!--Script Ajax Business-->
<script type="text/javascript">
    //**********************************
    $(document).ready(function () {
        
        /*
        const m = moment();



        setInterval(function () {
            var table = "<table class='table' style='font-size: 9px;'>" +
             "<tr><th>امروز</th><th>روز</th><th>ساعت</th><th>هفته</th><th>روز</th></tr>" +
                "<tr>" +
                "<td>" + foramtDate(todayShamsy8char()) + "</td>" +
                  "<td>" + calDayOfWeek(todayShamsy8char()) + "</td>" +
                    "<td>" + foramtTime(CurrentTime()) + "</td>" +
                      "<td>" + m.jWeek() + "</td>" +
                       "<td>" + m.jDayOfYear() + "</td>" +

                "</tr></table>"
            $("#DateDetail").empty()
            $("#DateDetail").append(table)
        }, 1000);
        */

        // console.log(moment().format('jYYYY/jM/jD'));//Today
        // console.log(foramtDate(todayShamsy8char()))
        // console.log(calDayOfWeek(todayShamsy8char()))
        ////console.log(m.locale('fa'));
        //console.log(m.from('2018-04-04', 'en', 'YYYY-MM-DD'));// it would be in jalali system
        //console.log(m.format('YY-MM-DD'));
        //console.log(moment('2013-8-25 16:40:00', 'YYYY-M-D HH:mm:ss').endOf('jMonth').format('jYYYY/jM/jD HH:mm:ss')) // 1392/6/31 23:59:59)

        //console.log(moment('1360/5/26', 'jYYYY/jM/jD')) // Parse a Jalaali date
        //console.log(m.format('jYYYY/jM/jD [is] YYYY/M/D')) // 1360/5/26 is 1981/8/17

        //console.log("سال جاری" + m.jYear()) // 1360
        //console.log(m.jMonth()) // 4
        //console.log(m.jDate()) // 26

        // console.log("چندمین روز سال" + m.jDayOfYear()) // 150
        // console.log("چندمین هفته سال" + m.jWeek()) // 22
        //console.log(m.jWeekYear()) // 1360

        ///*اضافه کردن سال ماه روز به تاریخ جاری*/

        //m.add(1, 'jYear')
        //m.add(2, 'jMonth')
        //m.add(-2, 'day')
        //console.log(m.format('jYYYY/jM/jD')) // 1361/7/29

        ///*تاریخ جاری را به صورت 98/12/01 نمایش میدهد*/

        //m.jMonth(11)
        //m.startOf('jMonth')
        //console.log(m.format('jYYYY/jM/jD')) // 1361/12/1


        //m.jYear(1392)
        //m.startOf('jYear')
        //m.format('jYYYY/jM/jD') // 1392/1/1

        //m.subtract(1, 'jYear')
        //m.subtract(1, 'jMonth')
        //m.format('jYYYY/jM/jD') // 1390/12/1

        //moment('1391/12/30', 'jYYYY/jMM/jDD').isValid() // true (leap year)
        //moment('1392/12/30', 'jYYYY/jMM/jDD').isValid() // false (common year)
        //moment.jIsLeapYear(1391) // true   آیا سال کبیسه است
        //moment.jIsLeapYear(1392) // false

        //moment.jDaysInMonth(1395, 11) // 30
        //moment.jDaysInMonth(1394, 11) // 29

        //moment('1392/6/3 16:40', 'jYYYY/jM/jD HH:mm').format('YYYY-M-D HH:mm:ss') // 2013-8-25 16:40:00

        //moment('2013-8-25 16:40:00', 'YYYY-M-D HH:mm:ss').endOf('jMonth').format('jYYYY/jM/jD HH:mm:ss') // 1392/6/31 23:59:59

        //// Complex parse:
        //moment('1981 5 17', 'YYYY jM D').format('YYYY/MM/DD') // 1981/07/17





        //var a = moment([2007, 0, 29]);
        //var b = moment([2007, 0, 28]);
        //a.diff(b, 'days')   // =1


        //-------------execute when load client listnav

        //-------------execute List When Click on Tab
        $("ul li a[href='#menu2']").on("click", function () {
            ListHazineMohem();
        });
        $("ul li a[href='#StoreHoghogh']").on("click", function () {
            ShowStoreHoghoghPivot();
        });
        $("ul li a[href='#TimeForJob']").on("click", function () {
            ShowKarkadPivot();
            ListPercentJob();
            ListKarkard();
        });
        $("ul li a[href='#menu4']").on("click", function () {
            ListTask("anjamnashode");
            ListTimingForListTask(0)
            ListTaskFutureChk();
            ListTaskAnjamShode();
            $(".PersianDatePickerEditTaskS").val(foramtDate(todayShamsy8char()))
        });
        $("ul li a[href='#Category']").on("click", function () {
            ListCategory();
            ListPercentJob();
            ListJob();
        });



        function ListHazineMohem() {
            var urll = "/HazineMohem/ListKharj";
            $.ajax({
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "html",
                url: urll,
                success: function (data) {
                    $(".HazineMohem").html(data);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
        //********************
        function ShowStoreHoghoghPivot() {
            var urll = "/StoreHoghogh/ShowMazayaStoreHoghogh";
            $.ajax({
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "html",
                url: urll,
                success: function (data) {

                    $(".ListStoreHoghogh").html(data);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
        function UploadDataCard() {
            $.ajax(
                {
                    type: 'POST',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    url: "/PersonnelGsystem/SelectInsertDatacard",

                    data: JSON.stringify({ StartDateCard: "970601" }),
                    success: function (result) {
                        if (result == true) {
                            ListKarkard();
                            RefreshExecute();
                        }
                        else {
                            alert("خطا در ثبت");
                        }
                    }
                });
        }
    });
</script>




<!--Persian DatePicker-->
<script>
    $(document).ready(function () {
        kamaDatepicker('PersianDatePicker', {
            nextButtonIcon: "timeir_next.png"
            , previousButtonIcon: "timeir_prev.png"
            , forceFarsiDigits: true
            , markToday: true
            , markHolidays: true
            , highlightSelectedDay: true
            , sync: true
        });

        kamaDatepicker('PersianDatePickerEditTaskS', {
            nextButtonIcon: "../Scripts/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/demo/timeir_next.png"
            , previousButtonIcon: "../Scripts/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/demo/timeir_prev.png"
            , forceFarsiDigits: true
            , markToday: true
            , markHolidays: true
            , highlightSelectedDay: true
            , sync: true
        });

    });
</script>
<!--Search-->
<script>
    $(document).ready(function () {
        var SName = getCookie("SName")
        $("#Moshakhasat").empty()
        $("#Moshakhasat").append("<span>خوش آمدید : </span><span>" + SName + "</span> | <span onclick='removeCookie()' style='color:red;cursor:pointer'> خروج </span>")

        //----------function ListDictionary()
        $("#SeachInTblDicList").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".ListDictionarySearch tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        //--------------------------
        $("#myInputDic").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>






