@model ManageYourSelfMVC.Models.DomainModels.Category
<div class="form-group" Name="Update">
    <textarea style="direction:rtl" class="form-control" rows="5" name="CreateCategory" CategoryId="@Model.CategoryId">@Model.CategoryName</textarea>
</div>

