<div class="table-responsive" Name="CreateTypeHazineh">
    <table class="table">
        <tr>
            <td>عنوان</td>
            <td><input name="name" type="text" /></td>
        </tr>
        <tr>
            <td><input type="radio" name="TypeHazineh" value="true" />دریافت</td>
            <td><input type="radio" name="TypeHazineh" value="false" checked/>پرداخت</td>
        </tr>
    </table>
    <table>
        <tr>

            <td colspan="2"><input class="btn btn-secondary" onclick="CreateTypeHazinehPost()" type="button" value="ذخیره" /></td>
        </tr>
    </table>
</div>


