@model ManageYourSelfMVC.Models.DomainModels.MojoodyBank
<br>
<div class="table-responsive" Name="EditMojoodyBank">
    <table class="table" MojoodyBankId="@Model.MojoodyBankId">
            <tr>
                <td>نام بانک</td>
                <td><input name="MojoodyName" type="text" value="@Model.MojoodyName" /></td>
            </tr>
    </table>
</div>

